:root {
  --main-color: #61dafb;
  --main-background-color: #282d35;
  --nav-background-color: #21222a;
  --text-color: #ffffff;
}

.container {
  width: 550px;
  margin: 100px auto;
  height: calc(459px + 91px);
  position: relative;
}

.mood-img {
  position: absolute;
  right: 20px;
  top: calc(91px / 2);
  transform: translateY(-50%);
  z-index: 100;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.nav.dark {
  background-color: var(--nav-background-color);
}

.nav.light {
  background-color: #ffffff;
  box-shadow: 0 0px 2px #000, 0 0 4px #eee;
}

.nav .nav-icon {
  height: 30px;
  margin-right: 7px;
}

.nav .nav-text {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 700;
}

/* create toggler instead of using images */
.nav .toggler {
  width: 90px;
  height: 13px;

  margin-left: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .toggler .toggler-light,
.nav .toggler .toggler-dark {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
}
.nav .toggler .toggler-light {
  color: #918e9b;
}

.nav .toggler .toggler-light.light {
  color: #2b283a;
}

.nav .toggler .toggler-dark {
  color: #ffffff;
}

.nav .toggler .toggler-dark.light {
  color: #d5d4d8;
}

.nav .toggler .toggler-slider {
  width: 24px;
  height: 13px;
  border-radius: 11px;

  background: #f5f5f5;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;

  position: relative;
  cursor: pointer;
}

.nav .toggler .toggler-slider.light {
  background: #222222;
}

.nav .toggler .toggler-slider:before {
  content: "";
  width: 11.5px;
  height: 11.5px;
  background: #222222;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.nav .toggler .toggler-slider.light:before {
  background: #f5f5f5;

  left: 1px;
}

/* End toggler */

main {
  height: 459px;
  padding-top: 57px;
  padding-left: 27px;
}

main.dark {
  background-color: var(--main-background-color);
  color: var(--text-color);
  background-image: url("./images/reactJsIcon2.png");
  background-repeat: no-repeat;
  background-position: right 100px;
  background-position: right 75%;
}

main.light {
  background-color: #ffffff;
  color: #2b283a;
  box-shadow: 0 0px 2px #000, 0 0 4px #eee;
}

main .main-title {
  /* color: var(--text-color); */
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -0.05em;
}

main .main-content {
  /* list-style: none; */
  margin-top: 35px;
  /* margin-left: 45px; */
  max-width: 400px;
}

main .main-content > li {
  padding-block: 10px; /* padding:10px 0*/
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

main .main-content > li::marker {
  color: var(--main-color);
  font-size: 1.4rem;
}

/* .container main .main-content > li:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
} */
